body{
    background-color: cornflowerblue;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 3%;
    margin-right: 80%;
}

h1:hover {      
    color: blue;
    transform: scale(1.1);
}

input:hover {
    transform: scale(1.1);
}

button {
    background-color: blue;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin: 8px;
}

button:hover {
    transform: scale(1.1);
}