body{
    background-color: cornflowerblue;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 5%
}

h1:hover {      
    color: red;
    transform: scale(1.1);
}

input:hover {
    transform: scale(1.1);
}