body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000099;
  }
  
  img {
    max-width: 100%;
    width: auto;
    height: auto;
  box-shadow: 0px 3px 6px 2px white;
  }
  
  input, select, button, textarea {
    max-width: 100%;
  }
  
  meter, progress, output {
    max-width: 100%;
  }
  
  div#tswsidecol {
    float: right;
    width: 20%;
    color: black;
    background-color: #000066 !important;
  }
  
  div#tswcontent {
    float: right;
    width: 80%;
    color: black;
    background-color: #000066 !important;
  }
  
  @media only screen and ( max-width : 629px ) {
    div#tswsidecol {
      float: none;
      width: 100%;
    }
    div#tswcontent {
      float: none;
      width: 100%;
    }
  }
  
  div#tswcontproper {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  div#tswcontainer {
    background-color: #000066;
  }
  
  div#tswsideproper, div#tswothersideproper {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  div#tswheader {
    color: black;
    background-color: #000066;
  }
  
  div#tswfooter {
    color: black;
    background-color: #000066;
  }
  
  h1 {
    font-family: "Californian FB";
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    color: #000066;
    background-color: #ccffff;
    text-decoration: underline;
    box-shadow: 0px 2px 4px 2px white;
    border-radius: 6rem;
  }
  
  div {
    background-color: #000066;
    border-style: none;
  }
  
  p {
    font-family: "Calibri";
    color: white;
    background-color: #33ccff;
    box-shadow: 0px 2px 4px 2px white;
    border-width: 2px;
    border-style: groove;
    border-radius: 6rem;
  }
  
  li {
    color: white;
    background-color: #33ccff;
  box-shadow: 0px 0px 0px 0px black inset;
    border: 6px none white;
  }
  
  h2 {
    color: #000066;
    background-color: #ccffff;
  }
  
  h4 {
    color: #000066;
    background-color: #ccffff;
  }
  
  h3 {
    box-shadow: 0px 2px 4px 2px white;
  }